<a href="https://colab.research.google.com/github/HerniHartati01/Machine_Learning/blob/main/BagofWords_Praktikum13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#Diketahuikumpulankalimat(stat) dan kelasdarikalimattsbdalam2 kelompokyaitustmt(statement) dan question
#Jika diberikan kalimat ‘what is the price of the book’ apakah termasuk kelas question or not.

import pandas as pd
columns = ['sent', 'class']
rows = []
rows = [['This is my book', 'stmt'],
        ['They are novels', 'stmt'],
        ['have you read this book', 'question'],
        ['who is the author', 'question'],
        ['what are the characters', 'question'],
        ['This is how I bought the book', 'stmt'],
        ['I like fictions', 'stmt'],
        ['what is your favorite book', 'question']]

training_data = pd.DataFrame(rows, columns=columns)
training_data

                            sent     class
0                This is my book      stmt
1                They are novels      stmt
2        have you read this book  question
3              who is the author  question
4        what are the characters  question
5  This is how I bought the book      stmt
6                I like fictions      stmt
7     what is your favorite book  question

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
stmt_docs = [row['sent'] for index,row in training_data.iterrows() if row['class'] == 'stmt']
stmt_docs

['This is my book',
 'They are novels',
 'This is how I bought the book',
 'I like fictions']

In [4]:
# What is the price of the book
vec_s = CountVectorizer()
X_s = vec_s.fit_transform(stmt_docs)

tdm_s = pd.DataFrame(X_s.toarray(), columns=vec_s.get_feature_names())
tdm_s

   are  book  bought  fictions  how  is  like  my  novels  the  they  this
0    0     1       0         0    0   1     0   1       0    0     0     1
1    1     0       0         0    0   0     0   0       1    0     1     0
2    0     1       1         0    1   1     0   0       0    1     0     1
3    0     0       0         1    0   0     1   0       0    0     0     0

In [5]:
q_docs = [row['sent'] for index,row in training_data.iterrows() if row['class'] == 'question']
vec_q = CountVectorizer()
X_q = vec_q.fit_transform(q_docs)
tdm_q = pd.DataFrame(X_q.toarray(), columns=vec_q.get_feature_names())
tdm_q

   are  author  book  characters  favorite  ...  this  what  who  you  your
0    0       0     1           0         0  ...     1     0    0    1     0
1    0       1     0           0         0  ...     0     0    1    0     0
2    1       0     0           1         0  ...     0     1    0    0     0
3    0       0     1           0         1  ...     0     1    0    0     1

[4 rows x 14 columns]

In [6]:
word_list_s = vec_s.get_feature_names();
count_list_s = X_s.toarray().sum(axis=0)
freq_s = dict(zip(word_list_s,count_list_s))
word_list_s
freq_s

{'are': 1,
 'book': 2,
 'bought': 1,
 'fictions': 1,
 'how': 1,
 'is': 2,
 'like': 1,
 'my': 1,
 'novels': 1,
 'the': 1,
 'they': 1,
 'this': 2}

In [7]:
prob_s = []
for word,count in zip(word_list_s,count_list_s):
  prob_s.append(count/len(word_list_s))
dict(zip(word_list_s,prob_s))

{'are': 0.08333333333333333,
 'book': 0.16666666666666666,
 'bought': 0.08333333333333333,
 'fictions': 0.08333333333333333,
 'how': 0.08333333333333333,
 'is': 0.16666666666666666,
 'like': 0.08333333333333333,
 'my': 0.08333333333333333,
 'novels': 0.08333333333333333,
 'the': 0.08333333333333333,
 'they': 0.08333333333333333,
 'this': 0.16666666666666666}

In [8]:
word_list_q = vec_q.get_feature_names();
count_list_q = X_q.toarray().sum(axis=0)
freq_q = dict(zip(word_list_q,count_list_q))
word_list_q
freq_q

{'are': 1,
 'author': 1,
 'book': 2,
 'characters': 1,
 'favorite': 1,
 'have': 1,
 'is': 2,
 'read': 1,
 'the': 2,
 'this': 1,
 'what': 2,
 'who': 1,
 'you': 1,
 'your': 1}

In [9]:
prob_q = []
for word,count in zip(word_list_q,count_list_q):
  prob_q.append(count/len(word_list_q))
dict(zip(word_list_q,prob_q))

{'are': 0.07142857142857142,
 'author': 0.07142857142857142,
 'book': 0.14285714285714285,
 'characters': 0.07142857142857142,
 'favorite': 0.07142857142857142,
 'have': 0.07142857142857142,
 'is': 0.14285714285714285,
 'read': 0.07142857142857142,
 'the': 0.14285714285714285,
 'this': 0.07142857142857142,
 'what': 0.14285714285714285,
 'who': 0.07142857142857142,
 'you': 0.07142857142857142,
 'your': 0.07142857142857142}

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
docs = [row['sent'] for index,row in training_data.iterrows()]

vec = CountVectorizer()
X = vec.fit_transform(docs)

total_features = len(vec.get_feature_names())
total_features

21

In [11]:
total_cnts_features_s = count_list_s.sum(axis=0)
total_cnts_features_q = count_list_q.sum(axis=0)
print (total_cnts_features_s)
print (total_cnts_features_q)

15
18

In [12]:
'''
NLTK adalah salah satu tool yang sangat populer pada ilmu natural language processing (NLP)
dengan menggunakan bahasa pemrograman python. natural language toolkit ini sangat mendukung
proses pengolahan bahasa natural
seperti classification, tokenization, stemming, tagging, parsing
'''
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [13]:
from nltk.tokenize import word_tokenize
new_sentence = 'what is the price of the book'
new_word_list = word_tokenize(new_sentence)
print(new_word_list)

['what', 'is', 'the', 'price', 'of', 'the', 'book']

In [14]:
prob_s_with_ls = []
for word in new_word_list:
  if word in freq_s.keys():
    count = freq_s[word]
  else :
    count = 0
  prob_s_with_ls.append((count + 1)/(total_cnts_features_s + total_features))
dict(zip(new_word_list, prob_s_with_ls))

{'book': 0.08333333333333333,
 'is': 0.08333333333333333,
 'of': 0.027777777777777776,
 'price': 0.027777777777777776,
 'the': 0.05555555555555555,
 'what': 0.027777777777777776}

In [15]:
prob_q_with_ls = []
for word in new_word_list:
  if word in freq_q.keys():
    count = freq_q[word]
  else :
    count = 0
  prob_q_with_ls.append((count + 1)/(total_cnts_features_q + total_features))
dict(zip(new_word_list, prob_q_with_ls))

{'book': 0.07692307692307693,
 'is': 0.07692307692307693,
 'of': 0.02564102564102564,
 'price': 0.02564102564102564,
 'the': 0.07692307692307693,
 'what': 0.07692307692307693}

In [16]:
i = 0
prob_s_=1
for i in range(len(prob_s_with_ls)):
  prob_s_=prob_s_*prob_s_with_ls[i]
print (prob_s_)
print ("Nilai akhir statment ",prob_s_*0.5)

4.5939365799778324e-10
Nilai akhir statment  2.2969682899889162e-10

In [18]:
i = 0
prob_q_=1
for i in range(len(prob_q_with_ls)):
  prob_q_=prob_q_*prob_q_with_ls[i]
print (prob_q_)
print ("Nilai akhir statment ",prob_q_*0.5)

#Kesimpulan akhir adalah kalimat QUESTION

1.7707368464359263e-09
Nilai akhir statment  8.853684232179632e-10