<a href="https://colab.research.google.com/github/HerniHartati01/Machine_Learning/blob/main/MachineL_Tugas_Praktikum3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
path="/content/drive/My Drive/machine learning/dataset/Data Sales.csv"
dat=pd.read_csv(path)
dat

   Costumer number     Costumer name        2016  ... Day  Year Active
0          10002.0  Quest Industries  $125000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15000.00  ...   2  2014      N

[5 rows x 10 columns]

In [ ]:
dat['2016'] + dat['2017']

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3      $350,000.00 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [ ]:
dat.dtypes

Costumer number    float64
Costumer name       object
2016                object
2017                object
Percent growth      object
Jan units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [ ]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Costumer number  5 non-null      float64
 1   Costumer name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent growth   5 non-null      object
 5   Jan units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [27]:
dat["Costumer number"] = dat['Costumer number'].astype('int')
dat.dtypes

Costumer number             int64
Costumer name              object
2016                      float64
2017                       object
Percent growth             object
Jan units                  object
Month                       int64
Day                         int64
Year                        int64
Active                       bool
Start_Date         datetime64[ns]
Jan Units                 float64
dtype: object

In [ ]:
dat['2016'].astype('int')  

#erorr karena pada kolom 2016 merupakan data yang ber tipe string ($), begitupun pada kolom 2017

ValueError: ignored

In [ ]:
dat['Jan units'].astype('int')

ValueError: ignored

In [ ]:
dat['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool

In [13]:
def convert_currency(val):
  new_val = val.replace(',','').replace('$','')
  return float(new_val)

In [14]:
dat['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [15]:
dat['2016'] = dat['2016'].apply(convert_currency)

In [16]:
dat['2016']

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [ ]:
dat['2017'].apply(convert_currency)

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [ ]:
dat['2017'] = dat['2017'].apply(convert_currency)

In [ ]:
dat['2017']

0     162500.0
1    1012000.0
2      62500.0
3     490000.0
4      12750.0
Name: 2017, dtype: float64

In [28]:
def convert_percent(val):
  new_val = val.replace('%','')
  return float(new_val) /100

In [29]:
dat['Percent growth'].apply(convert_percent)

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent growth, dtype: float64

In [21]:
dat["Active"] = np.where(dat["Active"] == "Y", True, False)

In [ ]:
dat

   Costumer number     Costumer name      2016  ...  Day   Year Active
0            10002  Quest Industries  125000.0  ...    10  2015   True
1           552278    Smith Plumbing  920000.0  ...    15  2014   True
2            23477   ACME Industrial   50000.0  ...    29  2016   True
3            24900        Brekke LTD  350000.0  ...    27  2015   True
4           651029         Harbor Co   15000.0  ...     2  2014  False

[5 rows x 10 columns]

In [18]:
pd.to_numeric(dat['Jan units'], errors='coerce')

0    500.0
1    700.0
2    125.0
3     75.0
4      NaN
Name: Jan units, dtype: float64

In [19]:
pd.to_numeric(dat['Jan units'], errors='coerce').fillna(0)

0    500.0
1    700.0
2    125.0
3     75.0
4      0.0
Name: Jan units, dtype: float64

In [ ]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Costumer number  5 non-null      float64
 1   Costumer name    5 non-null      object
 2   2016             5 non-null      object
 3   2017             5 non-null      object
 4   Percent growth   5 non-null      object
 5   Jan units        5 non-null      object
 6   Month            5 non-null      int64
 7   Day              5 non-null      int64
 8   Year             5 non-null      int64
 9   Active           5 non-null      object
dtypes: float64(1), int64(3), object(6)
memory usage: 528.0+ bytes

In [10]:
pd.to_datetime(dat[['Month', 'Day', 'Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [11]:
dat["Start_Date"] = pd.to_datetime(dat[['Month', 'Day', 'Year']])
dat["Jan Units"] = pd.to_numeric(dat['Jan units'], errors='coerce').fillna(0)

In [31]:
dat_2 = pd.read_csv(path,
                    dtype = {'Costumer number':'int'},
                    converters = {'2016':convert_currency,
                                  '2017':convert_currency,
                                  'Percent growth':convert_percent,
                                  'Jan units': lambda x : pd.to_numeric(x, errors='coerce'),
                                  'Active': lambda x : np.where(x == "Y", True, False)
                                  })

dat_2.dtypes

Costumer number      int64
Costumer name       object
2016               float64
2017               float64
Percent growth     float64
Jan units          float64
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object