<a href="https://colab.research.google.com/github/HerniHartati01/Machine_Learning/blob/main/MachineL_Tugas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
path="/content/drive/My Drive/machine learning/dataset/Data2.csv"
dat=pd.read_csv(path)
dat

    Mileage  Age(yrs)  Sell price($)
0     69000         6           1800
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
..      ...       ...            ...
65    30000         6          26750
66    40000         7          32000
67    60000         7          19300
68    70000         5          12000
69    80000         4          22000

[70 rows x 3 columns]

In [6]:
x=dat[['Mileage', 'Age(yrs)']]
y=dat['Sell price($)']

In [7]:
x

    Mileage  Age(yrs)
0     69000         6
1     35000         3
2     57000         5
3     22500         2
4     46000         4
..      ...       ...
65    30000         6
66    40000         7
67    60000         7
68    70000         5
69    80000         4

[70 rows x 2 columns]

In [8]:
y

0      1800
1     34000
2     26100
3     40000
4     31500
      ...
65    26750
66    32000
67    19300
68    12000
69    22000
Name: Sell price($), Length: 70, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.4)

In [11]:
len(x_train)

42

In [12]:
len(y_train)

42

In [13]:
len(x_test)

28

In [14]:
len(y_test)

28

In [15]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3)

In [16]:
len(x_train)

49

In [17]:
len(x_test)

21

In [18]:
len(y_train)

49

In [19]:
len(y_test)

21

In [20]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.1)

In [21]:
len(x_train)

63

In [22]:
len(x_test)

7

In [23]:
len(y_test)

7

In [24]:
len(y_train)

63