<a href="https://colab.research.google.com/github/HerniHartati01/Machine_Learning/blob/main/MachineL_Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
dat=pd.read_csv('/content/drive/My Drive/machine learning/dataset/indeks pembangunan.csv', engine='python')
dat

     tahun           provinsi  indeks
0     2010               Aceh   67.09
1     2010     Sumatera Utara   67.09
2     2010     Sumatera Barat   67.25
3     2010               Riau   68.65
4     2010     Kepulauan Riau   65.39
..     ...                ...     ...
165   2014  Sulawesi Tenggara   62.24
166   2014             Maluku   66.74
167   2014       Maluku Utara   65.18
168   2014              Papua   61.28
169   2014        Papua Barat   56.75

[170 rows x 3 columns]

In [4]:
import sys
print('Python: {}'.format(sys.version))
import scipy
print('scipy: {}'.format(scipy.__version__))
import pandas
print('Pandas: {}'.format(pandas.__version__))

Python: 3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]
scipy: 1.4.1
Pandas: 1.1.2

In [7]:
dat.head()

   tahun        provinsi  indeks
0   2010            Aceh   67.09
1   2010  Sumatera Utara   67.09
2   2010  Sumatera Barat   67.25
3   2010            Riau   68.65
4   2010  Kepulauan Riau   65.39

In [9]:
dat.shape

(170, 3)

In [10]:
dat.isnull().sum()

tahun       0
provinsi    0
indeks      0
dtype: int64

In [11]:
dat.max()

tahun                 2014
provinsi    Sumatera Utara
indeks               78.39
dtype: object

In [12]:
dat.min()

tahun       2010
provinsi    Aceh
indeks         0
dtype: object

In [13]:
dat.describe()

             tahun      indeks
count   170.000000  170.000000
mean   2012.000000   65.637294
std       1.418391    9.809456
min    2010.000000    0.000000
25%    2011.000000   64.342500
50%    2012.000000   66.740000
75%    2013.000000   68.602500
max    2014.000000   78.390000

In [22]:
data=dat.dropna()

In [23]:
y=data['indeks']
y

0      67.09
1      67.09
2      67.25
3      68.65
4      65.39
       ...
165    62.24
166    66.74
167    65.18
168    61.28
169    56.75
Name: indeks, Length: 170, dtype: float64

In [24]:
fitur=['provinsi','indeks']
x=data[fitur]
x

              provinsi  indeks
0                 Aceh   67.09
1       Sumatera Utara   67.09
2       Sumatera Barat   67.25
3                 Riau   68.65
4       Kepulauan Riau   65.39
..                 ...     ...
165  Sulawesi Tenggara   62.24
166             Maluku   66.74
167       Maluku Utara   65.18
168              Papua   61.28
169        Papua Barat   56.75

[170 rows x 2 columns]